:root{
    --prim-cl: #000458;
    --prim-stgr:#000334;
    --sec-cl: #F49F1C;
    --sec-stgr: #ffce84;
    --black:#000112;
    --white:#fff9f0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--prim-cl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.06); 
}
header h1{
    padding-left: 20px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    height: 100vh;
    background: var(--prim-stgr);
    color: var(--white);
}
.content h1{
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-right: 40px;
}
.navbar .nav-item{
    color: var(--white);
}
.nav-item{
    padding: 6px 10px;
    background-color: var(--prim-cl);
}
.nav-item:hover{
    padding: 6px 10px;
    background-color: var(--sec-cl);
    transition: .3s;
    border-radius: 5px;
    color: var(--prim-stgr);
    cursor: pointer;
}


.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-plan{
    display: flex;
    flex-direction: column;
    background: var(--prim-cl);
    border-radius: 20px;
    padding: 50px 25px;
    position: relative;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.04);
}
.line1::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 24%;
    left: 3%;
}
.line2::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 24%;
    left: 3%;
}
.line3::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 22%;
    left: 3%;
}
.card-plan h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom : 20px ;
}
.card-plan h5{
    font-size: 30px;
    
}
.card-plan h5 span{
    font-size: 13px;
    letter-spacing: 2px;
}
.card-plan ul{
    list-style: disc;
    margin: 20px 10px;
}
.card-plan li::marker {
    color: var(--sec-cl); /* Define a cor das bolinhas, neste caso, vermelho */
}
.card-plan a{
    margin-top: 20px;
    background: var(--sec-cl);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--prim-stgr);
    font-weight: bold;
}
.card-plan a:hover{
    background: var(--prim-stgr);
    transition: .3s;
    color: var(--white);
}

.card-plan h3,
.card-plan h5,
.card-plan ul,
.card-plan li {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra suave ao texto */
}

footer{
    background: var(--prim-cl);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
footer a{
    color: var(--white);
}
footer a:hover{
    color: var(--prim-stgr);
    transition: .3s;
}



@media (max-width: 767px) {
    .content h1 {
        font-size: 30px; /* Diminui ainda mais o tamanho do título principal */
    }

    .card-plan {
        padding: 15px 15px; /* Diminui mais o espaçamento interno */
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra ainda mais suave */
    }

    .card-plan h3 {
        font-size: 18px; /* Diminui ainda mais o tamanho do título */
        margin-bottom: 15px;
    }

    .card-plan h5 {
        font-size: 14px; /* Diminui ainda mais o tamanho do preço */
    }

    .card-plan h5 span {
        font-size: 10px; /* Diminui ainda mais o tamanho da descrição de preço */
    }

    .card-plan ul {
        margin: 8px 8px; /* Diminui ainda mais a margem interna da lista */
    }

    .card-plan li {
        font-size: 10px; /* Diminui ainda mais o tamanho do texto da lista */
    }
    .line1::before {
        content: '';
        top: 19%;
    }
    .line2::before {
        content: '';
        top: 19%;
    }
    .line3::before {
        content: '';
        top: 17%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets em orientação retrato aqui */
}

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    /* Estilos para tablets em orientação paisagem aqui */
}