:root{
    --prim-cl: #000458;
    --prim-stgr:#000334;
    --sec-cl: #F49F1C;
    --sec-stgr: #ffce84;
    --black:#000112;
    --white:#fff9f0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background: var(--prim-cl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}
header h1{
    padding-left: 20px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    height: 100vh;
    background: var(--prim-stgr);
    color: var(--white);
}
.content h1{
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 40px;
}
.navbar .nav-item{
    color: var(--white);
}
.nav-item:hover{
    padding: 4px 8px;
    background-color: var(--sec-cl);
    transition: .3s;
    border-radius: 3px;
    color: var(--prim-stgr);
    cursor: pointer;
}


.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-plan{
    display: flex;
    flex-direction: column;
    background: var(--prim-cl);
    border-radius: 20px;
    padding: 50px 25px;
    position: relative;
}
.line1::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 24%;
    left: 3%;
}
.line2::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 24%;
    left: 3%;
}
.line3::before {
    content: '';
    height: 3px; 
    width: 95%; 
    background-color: var(--sec-cl);
    position: absolute;
    top: 22%;
    left: 3%;
}
.card-plan h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom : 20px ;
}
.card-plan h5{
    font-size: 30px;
    
}
.card-plan h5 span{
    font-size: 13px;
    letter-spacing: 2px;
}
.card-plan ul{
    list-style: disc;
    margin: 20px 10px;
}
.card-plan li::marker {
    color: var(--sec-cl); /* Define a cor das bolinhas, neste caso, vermelho */
}
.card-plan a{
    margin-top: 20px;
    background: var(--sec-cl);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--prim-stgr);
    font-weight: bold;
}

footer{
    background: var(--prim-cl);
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: var(--white);
}
footer a{
    color: var(--white);
}