:root{
    --prim-cl: #030EF4;
    --prim-stgr:#000334;
    --sec-cl: #F49F1C;
    --sec-stgr: #ffce84;
    --black:#000112;
    --white:#fff9f0;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background: var(--prim-stgr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
}
header h1{
    padding-left: 20px;
}

section{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-right: 20px;
}
